#fixed-right-section {
	position: fixed;
	height: 80%;
	overflow: auto;
	right: 20px;
}

#btnAddConnection {
	width: 50px;
	height: 50px;
	border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	font-size: 20px;
}

.ekko-lightbox .modal-dialog {
	max-width: 900px !important;
}

.modal.fade:not(.in) .modal-dialog {
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
}

.box {
  -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,.25); // iOS <4.3 & Android <4.1
          box-shadow: 5px 5px 10px rgba(0,0,0,.25);
}
.col-xs-10 {
  width: 100%;
}
.glyphicon {
  top: 4px;
  left: 0.5px;
}
