body {
    padding-top: 100px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    background-color: #E8E8E8;
}

footer {
    margin: 50px 0;
}

#fixed-right-section {
	position: fixed;
	height: 80%;
	overflow: auto;
	right: 20px;
}

#btnAddConnection {
	width: 50px;
	height: 50px;
	border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	font-size: 20px;
}