

#header {
	width: 100%;
	height: 10rem;
	background-color: #F4F4F4;
	padding-bottom: 5px;
	-webkit-box-shadow: 0 1px 4px #ccc;
	-moz-box-shadow: 0 1px 4px #ccc;
	box-shadow: 0 1px 4px #ccc;
	border-bottom: 1px solid #CDCDCD;

	position: absolute;
	top: 0px;
}

#login-short-cut-control {
	list-style-type: none;
	top: 9px;
	float: right;

}

#login-short-cut-control li {
	float: left;
}

.logo {
	float: left;
}

#main {
	width: 97rem;
	margin: 0 auto;
	border: 1px solid red;

	/*-webkit-column-count: 2; /* Chrome, Safari, Opera */
    /*-moz-column-count: 2; /* Firefox */
    /*column-count: 2;*/
}

#main-wrapper {
	margin-top: 10rem;
}


