body {
  padding-top: 0px;
  padding-bottom: 40px;
  background-color: #E6E6E6;
  font-family:arial;
  font-size: small;
}
#logo-container{
	margin: 0 auto;
  	width: 780px;
	padding:0px;
	padding-bottom: 5px;
}
#logo{
	text-align: left;
}
fieldset { 
    display: block;
	width: 780px;
	margin: 0 auto;
    padding-top: 1em;
    padding-bottom: 3em;
    padding-left: 1em;
    padding-right: 1em;
	background-color: white;
    border: 1px solid #CCC;
}
#legend{
	color: #39C;
	font-size: 16px;
	padding-bottom : 10px;
	border-bottom:1px solid #CCC;
	margin-bottom: 30px;
}
.left{
	float: left;
	width: 450px;
	text-align: right;
	padding: 0px;
}
.right{
	float: right;
	width: 280px;
    border: 1px solid #BADDEE;
	padding: 0px;
}

.control-group{
	height: 45px;
}
.control-label{
	float: left;
	font-weight: bold;
	text-align: right;
	width: 150px;
}
.controls{
	text-align: left;
	margin-left: 160px;
}
.input-xlarge{
	width: 290px;
}

.help-block{
	font-size: 11px;
	line-height: 50%;
	color: #666;
}

#usertype li{
	display: inline;
	list-style-type: none;
	padding: 0px;
	margin-left:0px;
	text-align:left;
}

.button {
	background-color:-webkit-gradient(linear, left top, left bottom, color-stop(0, #73aec9), color-stop(5%, #73aec9), color-stop(5%, #338ab0), color-stop(100%, #0571a6));
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(115, 174, 201)), color-stop(0.05, rgb(115, 174, 201)), color-stop(0.05, rgb(51, 138, 176)), to(rgb(5, 113, 166)));
	border: 1px solid #045a8b;
	color: white;
	height: 24px;
	width: 121px;
}
ul{
	line-height: 50%;
	padding:0px;
	margin-left: 30px;
}

ul .title{
	list-style-image: url("../image/info1.png");
	font-size: 15px;
}
ul .item{
	list-style-image: url("../image/info2.png");
}

#self{
	font-size: 11px;
	line-height: 50%;
	color: #666;
}