body {
    padding-top: 120px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    background-color: #E8E8E8;
}

#fixed-right-section {
	position: fixed;
	height: 80%;
	overflow: auto;
	right: 20px;
}

#btnPostMode {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	font-size: 20px;
	margin: 10px;
}