body {
    padding-top: 120px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    background-color: #E8E8E8;
}

#fixed-right-section {
	position: fixed;
	height: 80%;
	overflow: auto;
	right: 20px;
}

#btnPostMode {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	font-size: 20px;
	margin: 10px;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: .8em 10px;
  color: #666;
  font-size: 22px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.box {
  -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,.25); // iOS <4.3 & Android <4.1
          box-shadow: 5px 5px 10px rgba(0,0,0,.25);
}
.cover.profile .cover-info .name {
  position: absolute;
  left: 155px;
  bottom: 0;
  margin-bottom: 65px;
  display: block;
  z-index: 3;
}
.cover.profile {
  background: inherit;
  border: 0px;
  margin-bottom: 0px;
}
.cover.profile .cover-info {
  position: relative;
  height: 100px;
  background: transparent;
}
.cover.profile .cover-info .avatar img {
  width: 90px;
  height: 90px;
}
.cover.profile .cover-info .name {
  top: 30px;
}
.cover.profile .cover-info .name a {
  /*color: rgba(5, 5, 5, 0.7);*/
  font-weight: 500;
  color: #717171;
  /*margin: 10px;*/
}
.col-xs-11 {
  width: 100%;
}
@media (max-width: 768px){
	.cover.profile .cover-info .name {
	  position: absolute;
	  left: 108px;
	  bottom: 0;
	  margin-bottom: 65px;
	  display: block;
	  z-index: 3;
	}
}
@media (min-width: 1200px){
.col-lg-9 {
  width: 75%;
}
}