#footer {
	background-color: #F4F4F4;
	-webkit-box-shadow: 0 -4px 4px #ccc;
	-moz-box-shadow: 0 -4px 4px #ccc;
	box-shadow: 0 -4px 4px #ccc;
	border-top: 1px solid #CDCDCD;
}

.gold-gradient{
	background: rgb(254,252,234); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(254,252,234,1) 0%, rgba(241,218,54,1) 39%, rgba(241,218,54,1) 39%, rgba(241,218,54,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,252,234,1)), color-stop(39%,rgba(241,218,54,1)), color-stop(39%,rgba(241,218,54,1)), color-stop(100%,rgba(241,218,54,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(254,252,234,1) 0%,rgba(241,218,54,1) 39%,rgba(241,218,54,1) 39%,rgba(241,218,54,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(254,252,234,1) 0%,rgba(241,218,54,1) 39%,rgba(241,218,54,1) 39%,rgba(241,218,54,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(254,252,234,1) 0%,rgba(241,218,54,1) 39%,rgba(241,218,54,1) 39%,rgba(241,218,54,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(254,252,234,1) 0%,rgba(241,218,54,1) 39%,rgba(241,218,54,1) 39%,rgba(241,218,54,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 ); /* IE6-9 */
}

#header {
	background-color: #F4F4F4;
	padding-bottom: 5px;
	-webkit-box-shadow: 0 1px 4px #ccc;
	-moz-box-shadow: 0 1px 4px #ccc;
	box-shadow: 0 1px 4px #ccc;
	border-bottom: 1px solid #CDCDCD;
	padding: 30px 0;
}


input[name="first"]{
	float: left;
	width: 49%;
}

input[name="last"]{
	float: right;
	width: 49%;
}

#main-wrapper {
	margin-top: 40px;
	margin-bottom: 40px;
}



