#form-div {
	background-color: white;
	height: 100%;
	left:9%;
}

#form-title {
	background-color: #4687CE;
	color: white;
	padding: 5px;
	position: absolute;
	margin-top: -30px;
	margin-left: -20px;
	border-radius: 4px;
}

#imgupload {
	position: absolute;
	right: 10px;
	margin-top: -22.4%;
}

#modalImgUpload {
	position: absolute;
	right: 25px;
	margin-top: -18.7%;
}

.input-box {
	width: 60%;
}

.add {
	color: #CCCCCC;
	font-size: 25px;
	position: absolute;
	margin-top: -32px;
	margin-left: 58%;
}

#myModal {
	padding-top: 6%;
}

.modal-content {
	width: 125%;
	margin-left: -12.5%;
}
#modalJobTitle {
	font-size: 2em;
}

.modal-footer {
	text-align: left;
}

.additional {
	font-weight: bold;
}

#guarantee-div {
	position: fixed;
	left: 65%;
	width: 400px;
}

#guarantee-ad {
	font-weight: bold;
	padding-top: 5%;
	font-size: 1.5em;
	background-color: #EEEEEE;
}

#guarantee-seal {
	position: absolute;
	float:right;
	margin: -10px;
	left: 80%;
}

#guarantee-number {
	position: absolute;
	font-size: 2em;
	left: 37px;
}

#guarantee-applicants {
	position: absolute;
	top: 35px;
	left: 12px;
	color: white;
}

#guarantee-guaranteed {
	position: absolute;
	font-size: 0.8em;
	top: 55px;
	left: 17px;
}
.modal-header {
	background-color: #4687CE;
	color: white;
}
#modalClose {
	color: black;
}
.steps {
	font-size: 1.5em;
	background-color: #CCCCCC;
	color: white;
	font-weight: normal;
	margin-left: -40px;
	padding-left: 11px;
	width: 40px;
	border-radius: 20px;
}

#step-words-one {
	position: absolute;
	font-size: 0.7em;
	top: 124px;
	margin-left: 10px;
}

#step-words-two {
	position: absolute;
	font-size: 0.7em;
	top: 178px;
	margin-left: 10px;
}

#step-words-three {
	position: absolute;
	font-size: 0.7em;
	top: 232px;
	margin-left: 10px;
}

.dropbox-ul {
	margin-left: -40px;
}
textarea {
	resize: none;
}

@media only screen and (max-width: 1300px) {
	#guarantee-div {
		display: none;
	}
}