#job-page-searching {
	background-color: white;
}

#brief-case-logo {
	background-color: #1565C0;
	color: white;
	padding: 20px;
	font-size: 2.5em;
	position: absolute;
	margin-top: -1%;
	border-radius: 3px;
}

#job-search-fields {
	color: #1565C0;
	font-size: 2em;
	font-weight: bold;
}


#btn-search-2 {
	display: none;
}

#adv-salary-div {
	height: 100px;
	overflow: auto;
}

#header {
	padding: 10px;
}

#footer {
	display: none;
}

#job-display {
	background-color: white;
}


#posting-job1 {
	background-color: white;
}

.specific-job {
}
.companyImg {
	height: 175px;
}

#myModalLabel {
	color:white;
}

.modal-header {
	background-color: #4687CE;
	color: white;
}

#modalJobTitle {
	font-size: 2em;
}

#modalUserName {
	font-size: 2em;
}

.modal-footer {
	text-align: left;
}

.modal-footer-btn {
	margin-left: 10px;
	margin-bottom: 10px;
}


.additional {
	font-weight: bold;
}

@media only screen and (max-width: 992px) {
	#brief-case-logo {
		display: none;
	}
	#btn-search-1 {
		display: none;
	}
	#btn-search-2 {
		display: inline;
	}

	.tab-indent {
		display: none;
	}

	#posting-job1 {
		display: none;
	}

	#posting-job2 {
		display: inline;
	}
}

@media only screen and (max-width: 768px) {
	#modalImgUpload {
		display: none;
	}
}