body.login{
background: url("../../social-1/images/lock-2.jpg"); 
}
a{
color:  #4687ce;
}
#logo{
width: 300px;
padding: 10px 30px;
}
.panel {
  width: 300px;
  padding: 15px;
}
label {
  margin-bottom: 15px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  box-shadow: 0 -3px 5px -3px rgba(0,0,0,.15);
  z-index: 101;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}